html
{
  background-color: #F9E4C8;;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
 
}
.one {
  background: #F9E4C8;
}
.two {
  background: #F9E4C8;
}
.three {
  background: #F9E4C8;
}
.four {
  background: #F9E4C8;
}
::-webkit-scrollbar {
  display:none;
}
.outer-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slide
{
	text-align: center;
}

#bongogif
{
	width: 15%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 50px;
}
.colorWhite
{
	color: white;
}
#name
{
	font-size: 120px;
}
#jobTitle
{
	font-size:  30px;
}
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 4; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  height: 63vh;
  width: 25vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 250px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
#fixed
{
  position: fixed;
  z-index: 10;
}
.next:hover
{
  color: red;
}
.rotate
{
  transform: rotate(-90deg);
}
#project1Text
{
  position: absolute;
  z-index: 0;
  top: 65%;
  right: 80%;
  font-size: 4vw;
  font-weight: 400;
}
.projectImage 
{
    height: auto; 
    width: auto; 
    max-width: 42%; 
    max-height: auto;
}
#project1Image
{
    position: absolute;
    top: 23%;
    right: 42%;
}
#project1Number
{
  position: absolute;
  top: 17%;
  right: 82%;
  font-size: 20px;
}
#project2Image
{
    position: absolute;
    top: 23%;
    right: -10%;
}
#project2Number
{
  position: absolute;
  top: 17%;
  right: 30%;
  font-size: 20px;
}
#project2Text
{
  position: absolute;
  top: 66%;
  right: 29%;
  font-size: 4vw;
  font-weight: 400;
}
#project3Image
{
    position: absolute;
    top: 23%;
    right: -62%;
}
#project3Number
{
  position: absolute;
  top: 17%;
  right: -22%;
  font-size: 20px;
}
#project3Text
{
  position: absolute;
  top: 55%;
  right: -29%;
  font-size: 4vw;
  font-weight: 400;
}
.textColor
{
  color: #A11F1F;
}
#name
{
  position: fixed;
  font-size: 20px;
  right: 5%;
  top: 7%;
}
a
{
  text-decoration: none;
  color: #A11F1F;
}
#project4Image
{
    position: absolute;
    top: 23%;
    right: -115%;
}
#project4Number
{
  position: absolute;
  top: 17%;
  right: -75%;
  font-size: 20px;
}
#project4Text
{
  position: absolute;
  top: 65%;
  right: -77%;
  font-size: 4vw;
  font-weight: 400;
}
#construction
{
  position: absolute;
  top: 50%;
  right: -220%;
  font-size: 100px;
  color: #A11F1F;
}
/* _________________________________________ MOBILE _________________________________________ */
@media screen and (max-width: 1024px) 
{
  .outer-wrapper
  {
    width: 100%;
  }
  #name
  {
    font-size: 5vw;
    position: absolute;
    top: 7%;
    right: 8%;
  }
  #fixed
  {
    opacity: 0;
  }
  .projectImage 
  {
      height: auto; 
      width: auto; 
      max-width: 85%; 
      max-height: auto;
  }
  #secondSlide
  {
    opacity: 0;
  }
  #thirdSlide
  {
    opacity: 0;
  }
  #fourthSlide
  {
    opacity: 0;
  }
  .slide 
  {
    overflow:hidden;
    overflow-y:auto;
    width: 100%;
    height: auto;
  }
  .wrapper 
  {
    flex-direction: column;
    display: inline-block;
    width: 100%;
  }
  .rotate
  {
    transform: rotate(0deg);
  }
  #project1Image
  {
      position: static;
      margin-top: 35%;
  }
  #project1Text
  {
    margin-top: 5%;
    position: static;
    font-size: 7vw;
    font-weight: 400;
  }
  #project1Number
  {
    opacity: 0;
  }
  #project2Image
  {
      position: static;
      margin-top: 10%;
  }
  #project2Number
  {
    opacity: 0;
  }
  #project2Text
  {
    margin-top: 5%;
    position: static;
    font-size: 7vw;
    font-weight: 400;
  }
  #project3Image
  {
      margin-top: 10%;
      position: static;
  }
  #project3Number
  {
    opacity: 0;
    display: none;
  }
  #project3Text
  {
    position: static;
    font-size: 7vw;
    font-weight: 400;
    margin-top: 5%;
  }
  #project4Image
  {
      margin-top: 10%;
      position: static;
  }
  #project4Number
  {
    opacity: 0;
    display: none;
  }
  #project4Text
  {
    position: static;
    font-size: 7vw;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #construction
  {
    display: none;
    opacity: 0;
  }
}

/* _________________________________________ ABOUT PAGE _________________________________________ */
.aboutMeColumn {
  float: left;
  width: 30%;
  margin-top: 15%;
}
.aboutMeColumn2 {
  float: left;
  width: 30%;
  padding-right: 5%;
  margin-right: 10%;
  margin-top: 12%;
  margin-left: 10%;
}
/* Clear floats after the columns */
.aboutMeRow:after {
  content: "";
  display: table;
  clear: both;
}
.aboutMeTitle
{
  font-size: 40px;
  text-align: left;
  display: block;
  width: 100%;
  color: #A11F1F;
}
#WillPhoto
{
  max-width: 500px;
  max-height: auto;
  margin-left: 20%;
}
#aboutMeMainText
{
  color: #A11F1F;
  font-size: 30px;
}
#bigbigbig
{
  width: 100%;
  height: 100%;
  background-color: #F9E4C8;
}
.myIcon
{
  color: #A11F1F;
  font-size: 40px;
}
.myIcon:hover
{
  color: red;
}
#aboutcontacts
{
  color: #A11F1F;
  margin-bottom: 5px;
}
@media only screen and (max-width: 1024px) {
  .aboutMeColumn2 {
    width: 0%;
    padding-right: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-left: 0%;
    display: none;
    opacity: 0;
  }
  .aboutMeRow
  {
    width: 90%;
  }
  .aboutMeColumn
  {
    margin-left: 10%;
    width: 100%;
    margin-top: 50%;
  }
  #fixed
  {
    opacity: 0;
  }
  .aboutMeTitle
  {
    font-size: 80px;
    text-align: left;
    display: block;
    width: 100%;
    color: #A11F1F;
  }
  #aboutMeMainText
  {
    color: #A11F1F;
    font-size: 60px;
  }
  #aboutcontacts
  {
    color: #A11F1F;
    margin-bottom: 2vw;
    font-size: 4vw;
  }
  .myIcon
  {
    color: #A11F1F;
    font-size: 60px;
  }
  #contactsStyle
  {
    position: absolute;
    bottom: 3%;
  }
}
/* _________________________________________ PROJECT PAGES _________________________________________ */
.mainProjectImage
{
  max-width: 80vw;
}
#allallall
{
  background: #F9E4C8;
}
.centerImage
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10%;
}
#fixed2
{
  position: absolute;
}
#name2
{
  position: absolute;
  font-size: 20px;
  right: 5%;
  top: 7%;
}
.projectColumn
{
  float: left;
  padding-right: 10%;
  width: 40%;
}
.projectColumn2 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.projectRow:after {
  content: "";
  display: table;
  clear: both;
}
.projectRow
{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 6%;
  color: #A11F1F;
}
#indProjectTitle
{
  font-size: 2.5vw;
}
#teamMembers
{
  margin-top: 2%;
}
#githubLinkDiv
{
  margin-top: 2%;
}
.underline
{
  text-decoration: underline;
}




