body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
 
}
.one {
  background: black;
}
.two {
  background: #a3f3d3;
}
.three {
  background: #0bbaa0;
}
.four {
  background: #00dfdf;
}
::-webkit-scrollbar {
  display:none;
}
.outer-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slide
{
	text-align: center;
}

#bongogif
{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 30px;
}
.colorWhite
{
	color: white;
}
#name
{
	font-size: 120px;
}
#jobTitle
{
	font-size:  30px;
}